SWLP_CONFIG=configs/default.toml
SWLP_LOG_LEVEL=INFO
SWLP_JSON_LOGS=true
SWLP_DEVICE=auto
SWLP_BACKEND=hf
SWLP_MODEL_ID=sshleifer/tiny-gpt2
SWLP_CACHE_DIR=.cache/hf
SWLP_MAX_NEW_TOKENS=32
SWLP_TEMPERATURE=0.0
SWLP_DO_SAMPLE=false
SWLP_SEED=42
